<section class='styleguide-section'>

  <h2 class="section-title">{{i18n (concat "styleguide." section ".title")}}</h2>

  <div class='styleguide-section-contents'>
    {{yield}}
  </div>

</section>
