{{#styleguide-example title="footer-message"}}
  {{#footer-message education="Education Message" message="Footer message."}}
    <a href='#'>A link</a>
  {{/footer-message}}
{{/styleguide-example}}

{{#styleguide-example title="footer-message - no education"}}
  {{#footer-message message="Footer message."}}
    <a href='#'>A link</a>
  {{/footer-message}}
{{/styleguide-example}}

{{#styleguide-example title="footer-message - no contents"}}
  {{footer-message education="Education message" message="Footer message."}}
{{/styleguide-example}}
