{{#styleguide-example title="topic list item"}}
  <table class='topic-list'>
    <tbody>
      {{topic-list-item topic=dummy.topic}}
    </tbody>
  </table>
{{/styleguide-example}}

{{#styleguide-example title="topic list item - hide category"}}
  <table class='topic-list'>
    <tbody>
      {{topic-list-item topic=dummy.topic hideCategory=true}}
    </tbody>
  </table>
{{/styleguide-example}}

{{#styleguide-example title="topic list item - show likes"}}
  <table class='topic-list'>
    <tbody>
      {{topic-list-item topic=dummy.topic showLikes=true}}
    </tbody>
  </table>
{{/styleguide-example}}
