.color-row {
  .primary-very-low {
    background-color: $primary-very-low;
  }
  .primary-low {
    background-color: $primary-low;
  }
  .primary-low-mid {
    background-color: $primary-low-mid;
  }
  .primary-medium {
    background-color: $primary-medium;
  }
  .primary-high {
    background-color: $primary-high;
  }
  .primary {
    background-color: $primary;
  }
  .secondary-low {
    background-color: $secondary-low;
  }
  .secondary-medium {
    background-color: $secondary-medium;
  }
  .secondary-high {
    background-color: $secondary-high;
  }
  .secondary {
    background-color: $secondary;
  }
  .tertiary-low {
    background-color: $tertiary-low;
  }
  .tertiary-medium {
    background-color: $tertiary-medium;
  }
  .tertiary-high {
    background-color: $tertiary-high;
  }
  .tertiary {
    background-color: $tertiary;
  }
  .quaternary-low {
    background-color: $quaternary-low;
  }
  .quaternary {
    background-color: $quaternary;
  }
  .highlight-low {
    background-color: $highlight-low;
  }
  .highlight-medium {
    background-color: $highlight-medium;
  }
  .highlight-high {
    background-color: $highlight-high;
  }
  .highlight {
    background-color: $highlight;
  }
  .danger-low {
    background-color: $danger-low;
  }
  .danger-low-mid {
    background-color: $danger-low-mid;
  }
  .danger-medium {
    background-color: $danger-medium;
  }
  .danger {
    background-color: $danger;
  }
  .success-low {
    background-color: $success-low;
  }
  .success-medium {
    background-color: $success-medium;
  }
  .success {
    background-color: $success;
  }
  .love-low {
    background-color: $love-low;
  }
  .love {
    background-color: $love;
  }
}
