.styleguide {
  display: flex;

  .styleguide-menu {
    flex: 1 0 0;

    ul {
      list-style: none;
      margin-bottom: 2em;

      li.styleguide-heading {
        color: $primary-medium;
        text-transform: uppercase;
      }

      li {
        margin-bottom: 1em;

        a {
          color: $primary;
        }

        a.active {
          font-weight: bold;
        }
      }
    }
  }

  .styleguide-contents {
    flex: 4 0 0;
  }

  .styleguide-section {
    .section-title {
      text-transform: uppercase;
    }

    .description {
      margin: 1em 0;
    }

    .styleguide-example {

      .example-title {
        color: $primary-medium;
        font-size: 0.8em;
        border-bottom: 1px solid $primary-low;
        margin-bottom: 0.8em;
      }

      margin-top: 2em;
    }

    .rendered {
      display: inline-block;
      clear: both;
    }
  }
}

